network:
  ethernets:
    {{ interface }}:
      routes:
        {% if routes |length > 0 -%}
        {% for r in routes -%}
        - to: {{ r.subnet }}
          via: {{ r.via }}
        {% endfor -%}
        {% else -%}
        []
        {% endif %}